<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 h-10" src="assets/img/image/img2.jpg" width="100px" height="600px" alt="First slide"  noscroll>
      <div class="carousel-caption d-none d-md-block">
        <h1>Backpacking Sri Lanka</h1>
        <h3>Travel with us for an ultimate travelling experiance</h3>
        <br>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 " src="assets/img/image/img3.jpg" width="100px" height="600px" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
          <h1>Backpacking Sri Lanka</h1>
          <h3>Travel with us for an ultimate travelling experiance</h3>
         <br>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/image/img4.jpg"  width="100px" height="600px" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
          <h1>Backpacking Sri Lanka</h1>
          <h3>Travel with us for an ultimate travelling experiance</h3>
          <br>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!---Checkin -Check out-->

            

<!----div class="row"
    <div class="col">
     
       
            <div class="row no-gutters slider-text js-fullheight justify-content-center" data-scrollax-parent="true">
                <p><a [routerLink]="['/check']" class="home_search_container btn-primary py-3 px-5">Travel With Us</a></p>
          </div> 
    
 
</div>
</div--->

