<app-nav></app-nav>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="home">
     <div class="search_box">
    <div class="container">
    <div class="row">
    <div class="col">
    <div class="search_box_container d-flex flex-row align-items-center justify-content-start">
    <div class="search_form_container">
    <form action="#" id="search_form" class="search_form">
    <div class="d-flex flex-lg-row flex-column align-items-center justify-content-start">
    <ul class="search_form_list d-flex flex-row align-items-center justify-content-start flex-wrap">
    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
    <span>Check in</span>
    <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
    <ul>
    <li>Check in item 1</li>
    <li>Check in item 2</li>
    <li>Check in item 3</li>
    <li>Check in item 4</li>
    <li>Check in item 5</li>
    </ul>
    </li>
    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
    <span>Check out</span>
    <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
    <ul>
    <li>Check out item 1</li>
    <li>Check out item 2</li>
    <li>Check out item 3</li>
    <li>Check out item 4</li>
    <li>Check out item 5</li>
    </ul>
    </li>
    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
    <span>Guests</span>
    <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
    <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    </ul>
    </li>
    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
    <span>Children</span>
    <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
    <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    </ul>
    </li>
    <li class="search_dropdown d-flex flex-row align-items-center justify-content-start">
    <span>Rooms</span>
    <i class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
    <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    </ul>
    </li>
    </ul>
    <button class="search_button">search</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="intro">
    <div class="container">
    <div class="row">
    <div class="col">
    <div class="section_title_container text-center">
    <div class="section_title"><h1>Accomadations- More than a stay</h1></div>
    <div class="section_text">Book your favourite accomadation places, Hotels, Guest Houses, Villa, Beach residance, Resorts etc. through our Site BackPacking Sri lanka</div>
    </div>
    </div>
    </div>
  
    </div>
    </div>
    
    <div class="room d-flex flex-lg-row flex-column align-items-start justify-content-start">
    <div class="room_content">
    <div class="container">
    <div class="row">
    <div class="col">
    <div class="room_title">
    <div class="section_title_container_2">
    <div class="section_title"><h1>Deluxe Room</h1></div>
    </div>
    <div class="room_price">From <span>$190</span>/ night</div>
    </div>
    <div class="room_list">
    <ul>
    <li class="d-flex flex-row align-items-start justify-content-start">
    <div><div>Bed:</div></div>
    <div>Double bed</div>
    </li>
    <li class="d-flex flex-row align-items-start justify-content-start">
    <div><div>Capacity:</div></div>
    <div>2 adults</div>
    </li>
    <li class="d-flex flex-row align-items-start justify-content-start">
    <div><div>Room size:</div></div>
    <div>55m²</div>
    </li>
    <li class="d-flex flex-row align-items-start justify-content-start">
    <div><div>View:</div></div>
    <div>Sea view</div>
    </li>
    <li class="d-flex flex-row align-items-start justify-content-start">
    <div><div>Facilities:</div></div>
    <div>Iron, TV, Hair dryer</div>
    </li>
    </ul>
    </div>
    <div class="button room_button trans_200"><a href="#">book now</a></div>
    </div>
    </div>
    </div>
    </div>
    <div class="room_image">
    <div class="background_image" style="background-image:url(images/room_1.jpg)"></div>
    </div>
    </div>
    
    <div class="facilities">
    <div class="container">
    <div class="row icon_box_row">
    
    <div class="col-lg-4">
    <div class="icon_box text-center">
    <div class="icon_box_icon"><img src="assets/img/accomadation/hotel.jpg"  ></div>
    <div class="icon_box_title"><h2>Luxury Hotels</h2></div>
    <span style="border: 1px solid rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);" class="btn btn-primary btn-sm" [routerLink]="['/galary2']"  [class.active]="filterBy=='all'" (click)="filterBy='all'"><i class="glyphicon glyphicon-ok">View More</i></span>

    
    </div>
    </div>
    
    <div class="col-lg-4">
    <div class="icon_box text-center">
    <div class="icon_box_icon"><img src="assets/img/accomadation/resort.jpg"  ></div>
    <div class="icon_box_title"><h2>Holiday Resorts</h2></div>
    <span style="border: 1px solid rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);" class="btn btn-primary btn-sm" [routerLink]="['/forms']"  [class.active]="filterBy=='all'" (click)="filterBy='all'"><i class="glyphicon glyphicon-ok">View More</i></span>
    </div>
    </div>
    
    <div class="col-lg-4">
    <div class="icon_box text-center">
    <div class="icon_box_icon"><img src="assets/img/accomadation/residence.jpg"  ></div>
    <div class="icon_box_title"><h2>Beach Residance</h2></div>
    <span style="border: 1px solid rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 rgba(255,255,255,0.7);" class="btn btn-primary btn-sm" [routerLink]="['/forms']"  [class.active]="filterBy=='all'" (click)="filterBy='all'"><i class="glyphicon glyphicon-ok">View More</i></span>
    </div>
    </div>
    </div>
    </div>
    
    <div class="gallery">
    <div class="gallery_slider_container">
    
    <div class="owl-carousel owl-theme gallery_slider">
    
    <div class="owl-item gallery_item">
    <a class="colorbox" href="images/gallery_1.jpg">
    <div class="background_image" style="background-image:url(images/gallery_1.jpg)"></div>
    </a>
    <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
    </div>
    
    <div class="owl-item gallery_item">
    <a class="colorbox" href="images/gallery_2.jpg">
    <div class="background_image" style="background-image:url(images/gallery_2.jpg)"></div>
    </a>
    <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
    </div>
    
    <div class="owl-item gallery_item">
    <a class="colorbox" href="images/gallery_3.jpg">
    <div class="background_image" style="background-image:url(images/gallery_3.jpg)"></div>
    </a>
    <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
    </div>
    
    <div class="owl-item gallery_item">
    <a class="colorbox" href="images/gallery_4.jpg">
    <div class="background_image" style="background-image:url(images/gallery_4.jpg)"></div>
    </a>
    <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
    </div>
    
    <div class="owl-item gallery_item">
    <a class="colorbox" href="images/gallery_5.jpg">
    <div class="background_image" style="background-image:url(images/gallery_5.jpg)"></div>
    </a>
    <div class="gallery_overlay trans_200 d-flex flex-column align-items-center justify-content-center"><div>+</div></div>
    </div>
    </div>
    </div>
    </div>
    
   
    
    <div class="contact">
    <div class="container">
    <div class="row">
    
    <div class="col-xl-6">
    <div class="contact_map_container">
    
    <div class="contact_map">
    
    <div class="map">
    <div id="google_map" class="google_map">
    <div class="map_container">
    <div id="map"></div>
    </div>
    </div>
    </div>
    </div>
    
    
    
    
    