#div1 td{
    font: 20px grey; 
    font-family: 'Pacifico', cursive;
    padding: 6px;

}

#div1{
    width:30%;
    margin-left: 5%;
    border-radius: 5px;
}

#table{
width: 100%;
margin-bottom: 5px; 
background: #e06377;
border-radius: 5px;
color: white;
box-shadow: 6px 6px 3px lightgrey;
}


#add{
    border-radius: 5px;
    background-color:#96ceb4 ;
    margin-left: 8%;
    color: white;
}

#remove{
    border-radius: 5px;
    background-color:#ff6f69;
    color: white;
}

input[type="text"], textarea {
background-color :#f7cac95;

}

input[type="text"]{
color:  #c94c4c;
border: 2px solid #ffeead;
font-family: times;
}

::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;

}

input[type=text], textarea {
-webkit-transition: all 0.30s ease-in-out;
-moz-transition: all 0.30s ease-in-out;
-ms-transition: all 0.30s ease-in-out;
-o-transition: all 0.30s ease-in-out;
outline: none;
padding: 3px 0px 3px 3px;
margin: 5px 1px 3px 0px;
border: 1px solid white;
}

input[type=text]:focus, textarea:focus {
box-shadow: 0 0 5px white;
padding: 3px 0px 3px 3px;
margin: 5px 1px 3px 0px;
border: 1px solid white;
}

