<div class="contact" id="contact">
		<div class="container">
		  <h2 data-aos="fade-down" class="aos-init aos-animate">Contact
			<span class="a">Us</span>
			<hr>
		  </h2>
	
		  <div class="row">
			<div class="col-md-6 aos-init aos-animate" data-aos="fade-right">
			  <div class="row justify-content-md-center">
				<div class="col-md-12" id="contact_info">
	
	
				  <div class="row">
					<i class="fa fa-home"></i>
					<p>Yakkala Sri Lanka</p>
				  </div>
	
				  <div class="row">
							<i class="fa fa-envelope"></i>
					
					<p>tour@backpack.com</p>
				  </div>
	
				  <div class="row">
					<i class="fa fa-phone"></i>
					
					<p>+94 81 222 2126 | +94 713 013 416</p>
				  </div>
	
				  <div class="row">
					<i class="fa fa-globe"></i>
					<p>www.backpacking.lk</p>
				  </div>
	
	
				</div>
			  </div>
			</div>
	
			<!-- starting of contact form -->
			<div class="col-md-6 aos-init aos-animate" data-aos="fade-right">
			  <form #contactForm="ngForm" (ngSubmit)="contactForm.valid && onSubmit(contactForm)">
				<div class="form-group">
				  <div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text" id="basic-addon1">
						<i class="fa fa-user "></i>
					  </span>
					</div>
					
					<input type="text" class="form-control" name="name" [(ngModel)]="messageService.selectedMessage.name" placeholder="Full Name" aria-label="Username" aria-describedby="basic-addon1" required="true">
				  </div>
				</div>
				<div class="form-group">
				  <div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text" id="basic-addon1">
						<i class="fa fa-envelope"></i>
						
					  </span>
					</div>
					<input type="text" class="form-control" name="email" [(ngModel)]="messageService.selectedMessage.email"  placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1" required="">
				  </div>
				</div>
				<div class="form-group">
				  <div class="input-group mb-3">
					<div class="input-group-prepend">
					  <span class="input-group-text" id="basic-addon1">
						<i class="fa fa-phone"></i>
						
					  </span>
					</div>
					<input type="text" class="form-control" name="tpNo" [(ngModel)]="messageService.selectedMessage.tpNo"  placeholder="Phone Number" aria-label="Username" aria-describedby="basic-addon1" required="">
				  </div>
				</div>
	
				<div class="form-group">
	
				  <textarea class="form-control" name="message"  [(ngModel)]="messageService.selectedMessage.message" id="exampleFormControlTextarea1" placeholder="Tell About Your Problem" rows="5" required=""></textarea>
				</div>
	
				<button type="submit" class="btn contact_btn">Submit</button>
			  </form>
			</div>
			<!-- Ending of contact form div -->
		  </div>
	
		</div>
	  </div>
