<app-nav></app-nav>
<br><br><br><br><br>

    <div class="header">
        <span id="header">
            {{image.header}}   
        </span><br>
        <div class="header1">
        <span id="address">
            {{image.address}}   
        </span>
        </div>
        <div class="header2">
        <span id="review">
            {{image.review}}   
        </span>
        </div>
        <div class="header3">
                <span id="price">
                    {{image.price}}   
                </span>
    </div>
    </div>
   
    <div class ="row">
            <div class ="col-md-12" >
        <div class = "description">
        
                <div [ngStyle]="{'background-image':'url('+image.url+')'}" class="img-container" ></div>
       
        <section>
            <div [ngStyle]="{'background-image':'url('+image.url1+')'}" class="img-container1" ></div>
            <div [ngStyle]="{'background-image':'url('+image.url2+')'}" class="img-container1"></div>
            <div [ngStyle]="{'background-image':'url('+image.url3+')'}" class="img-container1"></div>

        </section>
        
    </div>
    </div>
     
    <app-check></app-check>
      
        
        




     
        
        
        
    
    