<app-nav></app-nav>

<br><br><br><br><br><br><br><br><br><br>
<br>
<app-check></app-check>
<br><br><br>
<div class="header">
        <span id="header">
            {{image.header}}   
        </span><br>
        <div class="header1">
        <span id="address">
            {{image.address}}   
        </span>
        </div>
        <div class="header2">
        <span id="review">
            {{image.review}}   
        </span>
        </div>
        <div class="header3">
                <span id="price">
                    {{image.price}}   
                </span>
    </div>
    </div>
    
    <!-----div class ="row">
            <div class ="col-md-12" >
                    <div class = "description1">
            </div>
            </div>
    </div------>
    

<br><br>
    
        <div class ="col-md-12" >
        <div class = "description">
        
                <div [ngStyle]="{'background-image':'url('+image.url+')'}" class="img-container" ></div>
       
        <section>
            <div [ngStyle]="{'background-image':'url('+image.url1+')'}" class="img-container1" ></div>
            <div [ngStyle]="{'background-image':'url('+image.url2+')'}" class="img-container1"></div>
            <div [ngStyle]="{'background-image':'url('+image.url3+')'}" class="img-container1"></div>
            <div [ngStyle]="{'background-image':'url('+image.url4+')'}" class="img-container1"></div>
            <div [ngStyle]="{'background-image':'url('+image.url5+')'}" class="img-container1"></div>

        </section>
        
    </div>
    </div><br>
    <span style="border: 2px solid rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 rgba(255,255,255,0.7); width:20%; align-content:center;" class="btn btn-primary btn-lg" [routerLink]="['/forms',id,acc]"  [class.active]="filterBy=='all'" (click)="filterBy='all'"><i class="glyphicon glyphicon-ok">Book Now </i></span>

   
   
     
      
        
        




     
        
        
        
    
    