<html>
  <head>
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>
      <div class="page-container">
    
          <!-- import slider component -->
            <app-sidebar></app-sidebar>
        
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- import nav bar component -->
                <app-navbar></app-navbar>
                          
                <!-- import breadcrumb component -->
                <app-breadcrumb></app-breadcrumb>
          
                                            
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 border-right">
                        <h3><b>Safari Agency</b></h3>
                    </div>
                    
                    <div class="btn-toolbar">
                        <button class="btn ">Add Agency</button>
                        <button class="btn">Edit Agency</button>
                        <button class="btn btn-primary">Delete Agency</button>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover ">
                                <thead class="bg-light ">
                                  <tr>
                                    <th>
                                      <div class="form-check-inline">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">
                                          </label>
                                      </div>
                                    </th>  
                                    <th>Hotel ID</th> 
                                    <th>Hotel Name</th> 
                                    <th>Location</th>
                                    <th>E-mail</th>
                                    <th>Fax</th>
                                    <th>Hotel Type</th>
                                    <th>No of rooms</th>
                                    <th>Prices</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                      <td>
                                          <div class="form-check-inline">
                                            <label class="form-check-label">
                                              <input type="checkbox" class="form-check-input" value="">
                                            </label>
                                        </div>
                                      </td> 
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><button class="btn btn-danger">Delete</button></td>
                                    
                                  </tr>
                                  <tr>
                                    <td>
                                        <div class="form-check-inline">
                                          <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" value="">
                                          </label>
                                      </div>
                                    </td>
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><small></small></td>
                                    <td><button class="btn btn-danger">Delete</button></td>
                                    
                                  </tr>
                                
                                
                                </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
  </body>
</html>