<div class="container">
    
    <div id="div1">
    <table id="table">
      <tr>
          <td>Places to visit</td><td><input class="form-control" type="text" id="places" placeholder="places"></td>
          <td><input class="form-control" type="text" id="places" placeholder="places"></td>
          <td><input class="form-control" type="text" id="places" placeholder="places"></td>
          <button id="add">Add Places</button>
        </tr>
          <tr>
          <td>Safari to hire</td><td><input class="form-control" type="text" id="safari" placeholder="Safari"></td>
          <td><input class="form-control" type="text" id="safari" placeholder="Safari"></td>
          <td><input class="form-control" type="text" id="safari" placeholder="Safari"></td>
          <button id="add">Add Safari</button>
        </tr>
        <tr>
            <td>Hotel bookings made</td><td><input class="form-control" type="text" id="hotel" placeholder="Hotels"></td>
            <td><input class="form-control" type="text" id="hotel" placeholder="Hotels"></td>
            <td><input class="form-control" type="text" id="hotel" placeholder="Hotels"></td>
            <button id="add">Add Another Item</button>
          </tr>
    </table>
    
    </div>
    </div>