<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <a class="navbar-brand" href="#">
        <img src="assets/logo.PNG" width="50px" height="50px" alt="logo">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          
        <li class="nav-item active">
          <a class="nav-link" href="#navigation">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#explora">Explora</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " href="#about">About Us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link " href="#contact">Contact Us</a>
        </li>
         <li class="nav-item">
          <a class="nav-link " href="#safari">Safari</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tour
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Packages</a>
            <a class="dropdown-item" href="#">Customize</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Check</a>
          </div>
        </li>

      </ul>
      <form #signOutForm="ngForm" (ngSubmit)="signOutForm.valid && onSubmit(signOutForm)">
          <button  class="btn btn-outline-success" type="submit"  value="Sign Out" >Sign Out</button>
          
          
      </form>
        
    </div>
  </nav>
