<div class="explore" id="explora">

  <div class="container">

    <h2 data-aos="fade-down">Explore Our
      <span class="a"> Best Destinations</span>
      <hr>
    </h2 >
    <div class="card-group" id="ex-1" >
        <div class="card" data-aos="zoom-in"*ngFor="let image of visibleImages1 | imageFilter:filterBy">
            <a [routerLink]="['/image',image.id]">  
           <img class="card-img-top" src="{{image.url}}"  height="150px" width="100px" alt="Card image cap" >
           </a>
           <div class="card-body">
              <h5 class="card-title">{{image.title}}</h5>
              <p class="card-text">{{image.category}}</p>
            </div>
    
          </div>
     ,<!--  <div class="card" data-aos="zoom-in" >
        <img class="card-img-top" src="http://localhost:4000/anuradhapura.jpg" height="150px" width="100px" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">Anuradhapura</h5>
          <p class="card-text">Ancient | Religious | Historical</p>
        </div>

      </div>
      <div class="card" data-aos="zoom-in">
        <img class="card-img-top" src="http://localhost:4000/trincomalee.jpg" height="150px" width="100px" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">Batticaloa</h5>
          <p class="card-text">Commercial | Religious | Historical</p>
        </div>

      </div>
      <div class="card" data-aos="zoom-in">
        <img class="card-img-top" src="http://localhost:4000/kandy.jpg" height="150px" width="100px" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">Kandy</h5>
          <p class="card-text">Ancient | Religious | Historical</p>
        </div>

      </div>-->
     
    </div>
   <!-- start of ex 2 -->
   
    <div class="card-group" id="ex-2">
        <div class="card" data-aos="zoom-in"*ngFor="let image of visibleImages2 | imageFilter:filterBy">
            <a [routerLink]="['/image',image.id]">  
           <img class="card-img-top" src="{{image.url}}"  height="180px" width="120px" alt="Card image cap" >
           </a>
           <div class="card-body">
              <h5 class="card-title">{{image.title}}</h5>
              <p class="card-text">{{image.category}}</p>
            </div>
    
          </div>
      <!-- 
      <div class="card" data-aos="zoom-in">
        <img class="card-img-top" src="http://localhost:4000/galle.jpg" height="150px" width="100px" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">Galle</h5>
          <p class="card-text">Beach | Commercial | Nature</p>
        </div>

      </div>
      <div class="card" data-aos="zoom-in">
        <img class="card-img-top" src="http://localhost:4000/jaffna.jpg" height="150px" width="100px" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">Jaffna</h5>
          <p class="card-text">Ancient | Religious | Historical</p>
        </div>

      </div>
      <div class="card" data-aos="zoom-in">
        <img class="card-img-top" src="http://localhost:4000/colombo.jpg" height="150px" width="100px" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">Colombo</h5>
          <p class="card-text">Capital | Shopping | Beach</p>
        </div>

      </div>
      --> 
    </div>



  </div>
</div>