<footer class="footer">

        <div class="container">
          <!-- <div class="row  justify-content-md-center" id="subscribe">
            <div class="col-md-5">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Subscribe to our newsletter" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button">Subscribe</button>
                </div>
              </div>
            </div>
          </div> -->
    
          <div class="row  justify-content-md-center" id="footer_links">
            <a href="terms.php">
              <p>T &amp; C</p>
            </a>
            <a href="gallery.html">
                <p>Gallery</p>
              </a>
            <a href="#explore">
              <p>Explore</p>
            </a>
            <a href="#pack">
              <p>Packages</p>
            </a>
            <a href="#about">
              <p>About Us</p>
            </a>
            <a href="#contact">
              <p>Contact Us</p>
            </a>
          </div>
          
    
          <div class="row justify-content-md-center" id="social_icons">
    
         
              <div class="text-center"></div>
            <a href="#" class="fa fa-facebook fa-2x"></a>
            <a href="#" class="fa fa-youtube fa-2x"></a>
            <a href="#" class="fa fa-instagram fa-2x"></a>
            <a href="#" class="fa fa-twitter fa-2x"></a>
    
          </div>
          <div class="rights">
            <h6>© 2019 Backpacking Sri Lanka. All Rights Reserved</h6>
    
            <a href="www.fliptro.com">
              <p>Backpacking Sri Lanka</p>
            </a>
    
          </div>
        </div>
        
    
      </footer>