
<div class="page-container">
    
  <!-- import slider component -->
    <app-sidebar></app-sidebar>

    <!-- PAGE CONTENT -->
    <div class="page-content">
        
        <!-- import nav bar component -->
        <app-navbar></app-navbar>
                  
        <!-- import breadcrumb component -->
        <app-breadcrumb></app-breadcrumb>
        <div class="page-content-wrap">  
            
            <router-outlet></router-outlet>

                  
            <!-- input here -->

        </div>  
                                  
    </div>            
</div>
      





<script type="text/javascript" src="/assets/js/settings.js"></script>



