<div class="days_pack" id="days_pack">
  <div class="container">
  <h2 data-aos="zoom-out-down" class="aos-init">Special
      <span class="a">Offers</span>
      <hr>
    </h2>
    <div class="row" id="offers">
      <div class="col-md-6">
        <h4>City Tour <hr></h4>

          <h5>A tour around the ancient and hiistorical city of Kandy and around...</h5>

             <ul>
                      <li>                          
                          <p>    Temple of the Tooth</p>
                      </li>
                      <li>                          
                          <p>     Peradeniya - Royal Botanical Garden</p>
                      </li>
                      <li>                          
                          <p>   Kandy Viewpoint</p>
                      </li>
                      <li>                          
                          <p>   Big Buddha Statue</p>
                      </li>
                      <li>                          
                          <p>    Geragama Tea Factory</p>
                      </li>
                      <li>                          
                          <p>   Second World War Cemetery</p>
                      </li>
                      <li>                          
                          <p>    Spice and Herbal Garden</p>
                      </li>
                      <li>                          
                          <p>   Gemological Museum</p>
                      </li>
                      <li>                          
                          <p>   Batik Factory</p>
                      </li>
                      <li>                          
                          <p>   Wood Carving Factory</p>
                      </li>
                      <li>                          
                          <p>  Temples (Lankatilaka , Ambakka , Ranawana )</p>
                      </li>
                      <li>                          
                          <p>   Udawatta Kele Forest</p>
                      </li>
                      <li>                          
                          <p>   Cultural Dance Show</p>
                      </li>
              </ul>
         
        </div>



     
      <div class="col-md-6">
      <h4>Day Tour <hr></h4>
      <h5>One day travel to some of the ancient and adventures cities in Sri Lanka...</h5>

      <ul>
        <li>
          <p>Nuwara Eliya</p>
        </li>
        <li>
          <p>Pinnawala</p>
        </li>
        <li>
          <p>Sigiriya</p>
        </li>
        <li>
          <p>Anuradhapura</p>
        </li>
      </ul>
    
        </div>
    </div>
</div>
</div>
<div class="text-center">
  <a href="#" class="btn btn-success " data-toggle="modal" data-target="#exampleModalCenter2">Book Now</a>
</div>
<br><br><br><br><br><br>