
<section class="facilities_area section_gap" id="accomadation">
  <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">  
  </div>
  <div class="container">
      <div class="section_title text-center">
          <h2 class="title_w">Hotel <span class="a"> Accomadation</span></h2>
          <p>Who are in extremely love with eco friendly system.</p>
      </div>
      <div class="row mb_30">
          <div class="col-lg-4 col-md-6">
              <div class="facilities_item">
                      <div class="hotel_img">
                              <img src="assets/img/hotel/hotel8.jpg" alt="Card image cap" height="200px" width="250px">
                              <a href="#" class="btn theme_btn button_hover">Book Now</a>
                          </div>
                      
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="facilities_item">
                  <div class="hotel_img">
                       <img src="assets/img/hotel/hotel7.jpg" alt="" height="200px" width="250px">
                      <a href="#" class="btn theme_btn button_hover">Book Now</a>
                  </div>
                         
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="facilities_item">
                  <div class="hotel_img">
                      <img src="assets/img/hotel/hotel10.jpg" alt="" height="200px" width="300px">
                      <a href="#" class="btn theme_btn button_hover">Book Now</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="facilities_item">
                  <div class="hotel_img">
                      <img src="assets/img/hotel/hotel5.jpg" alt="" height="200px" width="300px">
                      <a href="#" class="btn theme_btn button_hover">Book Now</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="facilities_item">
                  <div class="hotel_img">
                      <img src="assets/img/hotel/hotel4.jpg" alt="" height="200px" width="300px">
                      <a href="#" class="btn theme_btn button_hover">Book Now</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
                  <div class="facilities_item">
                      <div class="hotel_img">
                          <img src="assets/img/hotel/hotel2.jpg" alt="" height="200px" width="300px">
                          <a href="#" class="btn theme_btn button_hover">Book Now</a>
                      </div>
                  </div>
          </div>
          <span style="border: 2px solid rgba(0,0,0,0.1); box-shadow: inset 0 1px 0 rgba(255,255,255,0.7); width:20%; left: 40%; bottom: 20px; position:absolute;" class="btn btn-success btn-lg"  data-target="#exampleModalCenter" [routerLink]="['/galary2']"  [class.active]="filterBy=='all'" (click)="filterBy='all'"><i class="glyphicon glyphicon-ok"> View more </i></span>
      </div>
  </div>
</section>
