<div class="about" id="about">


    <div class="container">
      <h2 data-aos="zoom-out-down" class="aos-init aos-animate">About
        <span class="a">Us</span>
        <hr>
      </h2>
      <div class="row">
        <div class="col-md-6 aos-init aos-animate" data-aos="fade-right">
          <h4>Our Vision</h4>
          <p> “To help people around the world plan and have the perfect trip.”</p>
          <img src="assets/img/logo.PNG" class="img" width="180px" height="180px" alt="logo">
     
  
        </div>
  
        <div class="col-md-6 aos-init aos-animate" data-aos="fade-right">
          <p> Backpacking Sri Lanka is a newly establised tour planning agency which provides you excellent services to plan your tour in Sri Lanka. Plus Safari arrangements and Hotels reservation by the time you spend in Sri Lanka. We ready to provide a remarkable services with full of hospitality and to make your tour more interesting. Join with us to explore our services.

          </p>
          <p>Happy Time in Sri Lanka!!!</p>
        </div>
      </div>
    </div>
  
  </div>