<section class="accomodation_area section_gap" id="safari">
  <div class="container">
      <div class="section_title text-center">
          <h2 class="title_color">Safari <span class="a"> Tours</span></h2>
          <h6>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast, </h6>
      </div>
      <div class="row mb_30">
          <div class="col-lg-3 col-sm-6">
              <div class="accomodation_item text-center">
                  <div class="safari_img">
                      <img src="assets/img/safari/safari1.jpg" alt="Card image cap" height="200px" width="300px">
                      
                  </div>
              
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="accomodation_item text-center">
                  <div class="safari_img">
                      <img src="assets/img/safari/safari2.jpg" alt="" height="200px" width="300px">
                      
                  </div>
                 
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="accomodation_item text-center">
                  <div class="safari_img">
                      <img src="assets/img/safari/safari3.jpg" alt="" height="200px" width="300px">
                  </div>
                 
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
              <div class="accomodation_item text-center">
                  <div class="safari_img">
                      <img src="assets/img/safari/safari4.jpg" alt="" height="200px" width="300px">
                  </div>
                  
              </div>
          </div>
         
          <div class="carousel-item">
                  <div class="card text-center">
      
                    <div class="card-body">
                      <img class="card-img-top" src="assets/img/safari/vehicle 1.jpg" width="50px" height="400px" alt="Card image cap">
                      <h5 class="card-title">Toyota KDH</h5>
                      <div class="row pack_info">
                        <div class="col-md-6">
                          <h6>
                            <i class="fas fa-users"></i> 5 Passangers</h6>
                          <h6>
                            <i class="far fa-snowflake"></i> JUNGLE ADVENTURES & GORILLA EXPEDITIONS SAFARI VEHICLES</h6>
                        </div>
                        <div class="col-md-6">
                          <h6>
                            <i class="far fa-clock"></i> 24/7</h6>
                        </div>
                      </div>
                      <a [routerLink]="['/galary2']" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>
                    </div>
      
                  </div>
      
                </div>
                <div class="carousel-item">
                  <div class="card text-center">
      
                    <div class="card-body">
                      <img class="card-img-top" src="assets/img/safari/vehicle 3.jpg" width="50px" height="400px" alt="Card image cap">
                      <h5 class="card-title">Honda Vezel</h5>
                      <div class="row pack_info">
                        <div class="col-md-6">
                          <h6>
                            <i class="fas fa-users"></i> 4 Passangers</h6>
                          <h6>
                            <i class="far fa-snowflake"></i> Landcruise</h6>
                        </div>
                        <div class="col-md-6">
                          <h6>
                            <i class="far fa-clock"></i> 24/7</h6>
                        </div>
                      </div>
                      <a [routerLink]="['/galary2']" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>
                    </div>
      
                  </div>
      
                </div>
                <div class="carousel-item">
                    <div class="card text-center">
        
                      <div class="card-body">
                        <img class="card-img-top" src="assets/img/safari/vehicle 2.jpg" width="50px" height="400px" alt="Card image cap">
                        <h5 class="card-title">Toyota Allion</h5>
                        <div class="row pack_info">
                          <div class="col-md-6">
                            <h6>
                              <i class="fas fa-users"></i> 2 Passangers</h6>
                            <h6>
                              <i class="far fa-snowflake"></i> Ford Ranger Luxury Safari Camper</h6>
                          </div>
                          <div class="col-md-6">
                            <h6>
                              <i class="far fa-clock"></i> 24/7</h6>
                          </div>
                        </div>
        
                        <a [routerLink]="['/galary2']" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>
                      </div>
        
                    </div>
        
                  </div>
                <div class="carousel-item active">
                  <div class="card text-center">
      
                    <div class="card-body">
                      <img class="card-img-top" src="assets/img/safari/vehicle.jpg" width="50px" height="400px" alt="Card image cap">
                      <h5 class="card-title">Toyota </h5>
                      <div class="row pack_info">
                        <div class="col-md-6">
                          <h6>
                            <i class="fas fa-users"></i> 5 Passangers</h6>
                          <h6>
                            <i class="far fa-snowflake"></i> Luxury Safari Vehicle</h6>
                        </div>
                        <div class="col-md-6">
                          <h6>
                            <i class="far fa-clock"></i> 24/7</h6>
                        </div>
                      </div>
                      <a [routerLink]="['/galary2']" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>
                    </div>
      
                  </div>
      
                </div>
            </div>
  </div>
</section>
