<div class="logging" id="logging">
  <div class="container">
    
    <h2 data-aos="fade-down">Safari
      <span class="a">Tours</span>
      <hr>
    </h2 >

<div class="row " id="log_row">
            <div class="col-md-12">
                <div class="row">
                  <div class="col-md-3">
                    <a class="example-image-link" href="assets/img/safari/safari1.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned.">
                      <img class="example-image" src="assets/img/safari/safari1.jpg" alt="" height ="150px" width="200px"></a>
                  </div>
                  <div class="col-md-3">
                      <a class="example-image-link" href="assets/img/safari/safari2.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned.">
                        <img class="example-image" src="assets/img/safari/safari2.jpg" alt="" height="150px" width="200px"></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="assets/img/safari/safari3.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned.">
                          <img class="example-image" src="assets/img/safari/safari3.jpg" alt="" height="150px" width="200px"></a>
                      </div>
                      <div class="col-md-3">
                          <a class="example-image-link" href="assets/img/safari/safari4.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned.">
                            <img class="example-image" src="assets/img/safari/safari4.jpg" alt="" height="150px" width="200px"></a>
                        </div>
            </div>

            <div class="pack" id="pack">

<br><br>
              <div class="container" id="packs_banner">
                <h2 data-aos="fade-down" class="aos-init">Know
                  <span class="a">Your</span> Options
                  <hr>
                </h2>
                <h5 class="pack_p">Backpacking Sri Lanka features the best rates and the largest fleet of safari vehicles in Sri Lanka.Book Now as you wish...</h5>
                
                <div id="carouselExampleControls" class="carousel slide aos-init" data-ride="carousel" data-aos="zoom-in">
                  <div class="carousel-inner">
                
                    <div class="carousel-item">
                      <div class="card text-center">
          
                        <div class="card-body">
                          <img class="card-img-top" src="assets/img/safari/vehicle 4.jpg" width="50px" height="400px" alt="Card image cap">
                          <h5 class="card-title">Suzuki Every</h5>
                          <div class="row pack_info">
                            <div class="col-md-6">
                              <h6>
                                <i class="fas fa-users"></i> 12 Passangers</h6>
                              <h6>
                                <i class="far fa-snowflake"></i> 4×4 12-seater Safari Vehicle</h6>
                            </div>
                            <div class="col-md-6">
                              <h6>
                                <i class="far fa-clock"></i> 24/7</h6>
                            </div>
                          </div>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>
                        </div>
          
                      </div>
          
                    </div>
                    <div class="carousel-item">
                      <div class="card text-center">
          
                        <div class="card-body">
                          <img class="card-img-top" src="assets/img/safari/vehicle 1.jpg" width="50px" height="400px" alt="Card image cap">
                          <h5 class="card-title">Toyota KDH</h5>
                          <div class="row pack_info">
                            <div class="col-md-6">
                              <h6>
                                <i class="fas fa-users"></i> 5 Passangers</h6>
                              <h6>
                                <i class="far fa-snowflake"></i> JUNGLE ADVENTURES & GORILLA EXPEDITIONS SAFARI VEHICLES</h6>
                            </div>
                            <div class="col-md-6">
                              <h6>
                                <i class="far fa-clock"></i> 24/7</h6>
                            </div>
                          </div>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>
                        </div>
          
                      </div>
          
                    </div>
                    <div class="carousel-item">
                      <div class="card text-center">
          
                        <div class="card-body">
                          <img class="card-img-top" src="assets/img/safari/vehicle 3.jpg" width="50px" height="400px" alt="Card image cap">
                          <h5 class="card-title">Honda Vezel</h5>
                          <div class="row pack_info">
                            <div class="col-md-6">
                              <h6>
                                <i class="fas fa-users"></i> 4 Passangers</h6>
                              <h6>
                                <i class="far fa-snowflake"></i> Landcruise</h6>
                            </div>
                            <div class="col-md-6">
                              <h6>
                                <i class="far fa-clock"></i> 24/7</h6>
                            </div>
                          </div>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>
                        </div>
          
                      </div>
          
                    </div>
                    <div class="carousel-item">
                        <div class="card text-center">
            
                          <div class="card-body">
                            <img class="card-img-top" src="assets/img/safari/vehicle 2.jpg" width="50px" height="400px" alt="Card image cap">
                            <h5 class="card-title">Toyota Allion</h5>
                            <div class="row pack_info">
                              <div class="col-md-6">
                                <h6>
                                  <i class="fas fa-users"></i> 2 Passangers</h6>
                                <h6>
                                  <i class="far fa-snowflake"></i> Ford Ranger Luxury Safari Camper</h6>
                              </div>
                              <div class="col-md-6">
                                <h6>
                                  <i class="far fa-clock"></i> 24/7</h6>
                              </div>
                            </div>
            
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>
                          </div>
            
                        </div>
            
                      </div>
                    <div class="carousel-item active">
                      <div class="card text-center">
          
                        <div class="card-body">
                          <img class="card-img-top" src="assets/img/safari/vehicle.jpg" width="50px" height="400px" alt="Card image cap">
                          <h5 class="card-title">Toyota </h5>
                          <div class="row pack_info">
                            <div class="col-md-6">
                              <h6>
                                <i class="fas fa-users"></i> 5 Passangers</h6>
                              <h6>
                                <i class="far fa-snowflake"></i> Luxury Safari Vehicle</h6>
                            </div>
                            <div class="col-md-6">
                              <h6>
                                <i class="far fa-clock"></i> 24/7</h6>
                            </div>
                          </div>
                          <a href="#" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Book Now</a>
                        </div>
          
                      </div>
          
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <i class="far fa-arrow-alt-circle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <i class="far fa-arrow-alt-circle-right"></i>
          
                  </a>
                </div>
              </div>
            </div>
            

            <div class="logging" id="logging">
              <div class="container">

                  <h2 data-aos="fade-down">Hotels
                      <span class="a">Accomadations</span>
                      <hr>
                    </h2 >
            
            <div class="row">
                <div class="col-md-3">
                  <a class="example-image-link" href="assets/img/hotel/hotel1.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned.">
                    <img class="example-image" src="assets/img/hotel/hotel1.jpg" alt="" height="150px" width="200px"></a>
                </div>
                <div class="col-md-3">
                    <a class="example-image-link" href="assets/img/hotel/hotel2.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned.">
                      <img class="example-image" src="assets/img/hotel/hotel2.jpg" alt="" height="150px" width="200px"></a>
                  </div>
                  <div class="col-md-3">
                      <a class="example-image-link" href="assets/img/hotel/hotel3.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned.">
                        <img class="example-image" src="assets/img/hotel/hotel3.jpg" alt=""height="150px" width="200px"></a>
                    </div>
                    <div class="col-md-3">
                        <a class="example-image-link" href="assets/img/hotel/hotel4.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned. ">
                          <img class="example-image" src="assets/img/hotel/hotel4.jpg" alt="" height="150px" width="200px"></a>
                    </div>
                    <div class="col-md-3">
                      <a class="example-image-link" href="assets/img/hotel/hotel5.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned.">
                        <img class="example-image" src="assets/img/hotel/hotel5.jpg" alt="" height="150px" width="200px"></a>
                    </div>
                    <div class="col-md-3">
                      <a class="example-image-link" href="assets/img/hotel/hotel10.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned.">
                        <img class="example-image" src="assets/img/hotel/hotel10.jpg" alt="" height="150px" width="200px"></a>
                    </div>
                    <div class="col-md-3">
                      <a class="example-image-link" href="assets/img/hotel/hotel7.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned.">
                        <img class="example-image" src="assets/img/hotel/hotel7.jpg" alt="" height="150px" width="200px"></a>
                    </div>
                    <div class="col-md-3">
                      <a class="example-image-link" href="assets/img/hotel/hotel8.jpg" data-lightbox="example-set" data-title="Fully Air Conditioned.">
                        <img class="example-image" src="assets/img/hotel/hotel8.jpg" alt="" height="150px" width="200px"></a>
                    </div>
          </div>
        </div>    

</div>
</div>
</div>