

  <div class="container">
    <app-logedinnav></app-logedinnav>
    <app-header></app-header>


      <!-- routes will be rendered here -->
      <router-outlet></router-outlet>

      <!-- banner -->
      <app-banner></app-banner>

      <!-- explora -->
      <app-explora></app-explora>

      <!-- safari -->
      <app-safari></app-safari>

      <!--package -->
      <app-package></app-package>


      <!-- about -->
      <app-about></app-about>

      <!-- contact-->
      <app-contact></app-contact>



      <!-- footer -->
      <app-footer></app-footer>


    <router-outlet></router-outlet>
    </div>


